*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(./image/fabian-irsara-_SwLdgVGfVY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-btn {
    background-color: grey;
    display: inline-block;
    padding: 10px;
    border-radius: 50px;
}

