/* @media (min-width: 769px) and (max-width: 900px){

} */

@media (max-width: 600px){
    .content1{
        background-image: url(./image/02.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .img-wrapper{
        display: none;
    }

    .content22{
        flex-direction: column;
    }

    .wrapper{
        flex-direction: column;
    }

    .content-item{
        flex-direction: column;
    }


    .section2{
        height: 100vh!important;
    }

    .section3{
        height: 70vh!important;
    }

}

*{
    margin: 0;
    padding: 0;
    
}

header{
    background-image: url(./image/fabian-irsara-_SwLdgVGfVY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-btn {
    background-color: grey;
    display: inline-block;
    border-radius: 50px;
}

img {
    width: 100%;
    object-fit: cover;
}

div {
    padding: 0!important;
}

.img-wrapper{
    background-image: url(./image/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.content1{
    display: flex;
    align-items: center;
    margin: 0;
}

.section2{
    background-image: url(./image/marissa-grootes-YwPNWDNZHkg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.content2{
    margin: 2em;
}

.content22{
    display: flex;
}

.center{
    display: flex;
    align-items: center;
}

.section3{
    height: 50vh;
    background-image: url(./image/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper{
    display: flex;
    align-items: center;
}

.section4{
    background-image: url(./image/tina-dawson-Kim9COAIEGc-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.content-item{
    display: flex;
    justify-content: space-around;
    padding: 50px!important;
}

.grey-photo{
    width: 100px;
    height: 100px;
    background-color: gray;
    display: inline-block;
}

.item1{
    margin: 20px;
}

.brand-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.brand-content img {
    width: 10vw;
}

.page-content,
.section5{
    width: 60vw;
    margin: 100px auto 0 auto;
}

footer{
    background-image: url(./image/03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-item{
    padding-right: 50px!important;
}