@media (min-width: 769px) and (max-width: 900px){

}

@media (max-width: 600px){
    .content1{
        background-image: url(./image/02.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .img-wrapper{
        display: none;
    }

    .content22{
        flex-direction: column;
    }

}

*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(./image/fabian-irsara-_SwLdgVGfVY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey-btn {
    background-color: grey;
    display: inline-block;
    border-radius: 50px;
}

img {
    width: 100%;
    object-fit: cover;
}

div {
    padding: 0!important;
}

.img-wrapper{
    background-image: url(./image/02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.content1{
    display: flex;
    align-items: center;
    margin: 0;
}

.section2{
    background-image: url(./image/marissa-grootes-YwPNWDNZHkg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
}

.content2{
    margin: 2em;
}

.content22{
    display: flex;
}

.center{
    display: flex;
    align-items: center;
}

